.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  background-color: #282c34;
  display: flex;
  flex-direction: row;
}


.box {
  width: 50%;
  gap: 50px;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px royalblue;
  overflow: hidden;
  animation: myAnimation 2s infinite;
}
@keyframes myAnimation {
  0%{box-shadow: 5px 5px 10px royalblue}
  33%{box-shadow: 5px 5px 10px rgb(220, 102, 24)}
  66%{box-shadow: 5px 5px 10px rgb(11, 208, 103)}
  100%{box-shadow: 5px 5px 10px rgb(159, 16, 88)}
  
}
textarea {
  width: 80%;
  height: 300px;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(181, 106, 106);
  background-color: transparent;
  color: white;
  padding: 20px;
  font-size: 30px;
  animation: myAnimation 2s infinite
}
textarea::-webkit-scrollbar {
  display: none;
}

button {
  width: 80%;
  border: none;
  outline: none;
  background-color: royalblue;
  color: white;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  animation: myAnimation 3s infinite
}

button:hover {
  box-shadow: 5px 5px 10px rgb(144, 155, 187);
}

.pic {
  width: 220px;
  height: 220px;

  margin: 0 auto;
}
.lebel {
  color: rgb(43, 118, 126);
  font-size: 30px;
  font-weight: bold;
}
